{
	"parser":	"babel-eslint",
	"plugins": [
		"babel"
	],
	"rules": {
		"strict":	0
	},
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "generators": true,
    "templateStrings": true
  },
  "rules": {
    "strict": 0,
		"semi": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 2,
    "curly": 0,
    "no-multi-spaces": 0,
    "key-spacing": 0,
    "no-return-assign": 0,
    "consistent-return": 0,
    "no-shadow": 0,
    "no-comma-dangle": 0,
    "no-use-before-define": 0,
    "no-empty": 0,
    "new-parens": 0,
    "no-cond-assign": 0,
    "camelcase": 0,
    "new-cap": [1, { "capIsNew": false }],
    "no-undef": 2,
		/*"babel/generator-star-spacing": 0,
    "babel/new-cap": 0,
    "babel/object-curly-spacing": 1,
    "babel/object-shorthand": 0,
    "babel/arrow-parens": 1*/
  },
  "env": {
    "node": true,
    "browser": true,
    "es6":true
  },
  "globals": {
    "IS_SERVER": true
  }
}
